<div class="headline">
    <h2 class="title">Title</h2>
    <h4 class="date">Date</h4>
</div>
<div class="image">
    <img class="story-image" src="">
</div>
<div class="chart">
</div>
<div class="article">
    <p class="article-text">Story!</p>
    <p></p>
</div>

<div class="tags">
    <h5 class="tags-h5">
        <b>Tags: </b>
    </h5>
</div>
<div class="editor row">
    <div class="col-xs-9">
    </div>
    <div class="col-xs-3 edit-buttons-div">
        <div class="btn-group dropup">
            <button type="button" class="btn btn-success dropdown-toggle approve" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Approve</button>
            <ul class="dropdown-menu">
                <li><a><stong>Confirm Approve?</stong></a></li>
                <li><a class="confirm-approve">Yes</a></li>
                <li><a class="unconfirm-approve">No</a></li>
             </ul>
        </div>
        <div class="btn-group dropup">
            <button type="button" class="btn btn-danger dropdown-toggle deny" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Deny</button>
            <ul class="dropdown-menu">
                <li><a><stong>Confirm Deny?</stong></a></li>
                <li><a class="confirm-deny">Yes</a></li>
                <li><a class="unconfirm-deny">No</a></li>
             </ul>
        </div>
    </div>
</div>
