<!--Feed Container-->
<div class="container hidden-sm hidden-xs">
    <div class="col-md-2" id="sidebar">
    </div>
    <div class="col-md-8 feed-container" id="feed-desktop">
    </div>
    <div class="col-md-2">
    </div>
    <div id="chart-holder" class="col-md-12"></div>
</div>

 <div class="container-fluid hidden-md hidden-lg">
    <div class="col-sm-0 col-xs-0" id="sidebar">
    </div>
    <div class="col-sm-12 col-xs-12 feed-container" id="feed-mobile">
    </div>
    <div class="col-sm-0 col-xs-0">
    </div>
</div> 
