<!-- Header Title -->
<div class="row header-name">
    <div class="col-md-3 col sm-3 col-xs-3">
        <img class="hidden-sm hidden-xs" height="45px" width="45px" src="images/logo.png" alt="logo"/>
        <img class="hidden-md hidden-lg" height="40px" width="40px" src="images/logo.png" alt="logo"/>
        <button class="btn" id="back-to-admin">Back to Admin</button>
    </div>
    <div class="col-md-6 col sm-6 col-xs-6">
        <h2 class="header-title-sm hidden-sm hidden-xs site-title">The Fire Drill <small>BETA</small></h2>
        <h3 class="header-title-sm hidden-md hidden-lg site-title">The Fire Drill <small>BETA</small></h3>
    </div>
    <div class="col-md-3">
        <h5></h5>
        <h4 id="welcome" class="hidden-xs hidden-sm"></h4>
    </div>
    <div class="col-sm-3 col-xs-3">
        <button type="button" id="signout-mobile" class="btn hidden-md hidden-lg">Logout</button>
    </div>
</div>


<!--Category Nav for Desktop-->
<div class="row navigational-bar hidden-sm hidden-xs feed-nav" id="feed-nav-desktop">
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
        <h5>
            <button class="btn feedfilter" id="feedfilter1" value="stocks">Stocks</button>
        </h5>
    </div>
    <div class="col-md-2">
        <h5>
            <button class="btn feedfilter" id="feedfilter2" value="commodities">Commodities</button>
        </h5>
    </div>
    <div class="col-md-2">
        <h5>
            <button class="btn feedfilter" id="feedfilter3" value="business">Business</button>
        </h5>
    </div>
    <div class="col-md-2">
        <h5>
            <button class="btn feedfilter" id="feedfilter4" value="fed">The Fed</button>
        </h5>
    </div>
    <div class="col-md-2">
        <h5>
            <button class="btn feedfilter" id="feedfilter5" value="world">World</button>
        </h5>
    </div>
    <div class="col-md-1">
    </div>
</div>

<!--Category Nav for Mobile-->
<div class="row navigational-bar hidden-lg hidden-md centered feed-nav" id="feed-nav-mobile">
    <div class="col-sm-3 col-xs-3">
        <h5>
            <button class="btn feedfilter"  id="feedfilter1" value="stocks">Stocks</button>
        </h5>
    </div>
    <div class="col-sm-3 col-xs-3">
        <h5>
            <button class="btn feedfilter" id="feedfilter2" value="commodities">Commodities</button>
        </h5>
    </div>
    <div class="col-sm-3 col-xs-3">
        <h5>
            <button class="btn feedfilter" id="feedfilter3" value="business">Business</button>
        </h5>
    </div>
    <div class="col-sm-3 col-xs-3">
        <h5>
            <button class="btn feedfilter" id="feedfilter4" value="fed">The Fed</button>
        </h5>
    </div>
</div>

<!--Filter Display-->
<div class="row navigational-bar" id="filter-display">
    <div class="col-md-12" id="filter-container">
    </div>
</div>



    
