<div class="black-wrapper">
<div class="container hidden-xs hidden-sm form-container">
    <img src="images/logo-white.png"></img>
    <h1 class="form-signin-heading">Welcome to the Fire Drill</h1>
    <form class="form-signin form-desktop" id="login-form">
        <input type="text" id="login-username-desktop" class="form-control" placeholder="Username" />
        <input type="password" id="login-password-desktop" class="form-control" placeholder="Password" />
        <button class="btn btn-lg btn-primary btn-block">Login</button>
        <h3>or</h3>
    </form>
    <button class="btn btn-lg btn-primary btn-block signup-desktop">Sign up</button>
</div>

<div class="container hidden-lg hidden-md form-container">
    <img src="images/logo-white.png"></img>
    <h2 class="form-signin-heading">Welcome to the Fire Drill</h2>
    <form class="form-signin form-mobile" id="login-form">
        <input type="text" id="login-username-mobile" class="form-control" placeholder="Username" />
        <input type="password" id="login-password-mobile" class="form-control" placeholder="Password" />
        <button class="btn btn-lg btn-primary btn-block">Login</button>
        <h3>or</h3>
    </form>
    <button class="btn btn-lg btn-primary btn-block signup-mobile">Sign up</button>
</div>
</div>