<!-- Stock Price Bar for Desktop-->
    <div class="row stock-price-header-row hidden-xs hidden-sm">
        <div class="col-md-2 col-sm-6 stock-price-header-text">
            <h5 class="SP500">S&P 500</h5>
        </div>
        <div class="col-md-2 col-sm-6 stock-price-header-text">
            <h5 class="NASDAQ">NASDAQ</h5>
        </div>
        <div class="col-md-2 col-sm-6 stock-price-header-text">
            <h5 class="US10yr">US 10yr</h5>
        </div>
        <div class="col-md-2 col-sm-6 stock-price-header-text">
            <h5 class="Euro">Euro</h5>
        </div>
        <div class="col-md-2 col-sm-6 stock-price-header-text">
            <h5 class="Oil">Crude Oil</h5>
        </div>
        <div class="col-md-2 col-sm-6 stock-price-header-text">
            <h5 class="Nikkei">Nikkei</h5>
        </div>
    </div>

<!-- Stock Price Bar for Mobile-->
    <div class="row stock-price-header-row hidden-md hidden-lg">
        <div id="SP500" class="col-sm-4 col-xs-4 stock-price-header-text">
            <h5 class="SP500">S&P 500</h5>
        </div>
        <div id="US10yr" class="col-sm-4 col-xs-4 stock-price-header-text">
            <h5 class="US10yr">US 10yr</h5>
        </div>
        <div id="Oil" class="col-sm-4 col-xs-4 stock-price-header-text">
            <h5 class="Nikkei">Nikkei</h5>
        </div>
    </div>