<div class="black-wrapper">
    <div class="container hidden-xs hidden-sm form-container">
        <img src="images/logo-white.png"></img>
            <h1>Sign up for the Fire Drill</h1>
        <form class="form-signin form-desktop" id="signup-form">
            <input type="email" id="signup-email-desktop" class="form-control" placeholder="Email" />
            <input type="text" id="signup-username-desktop" class="form-control" placeholder="Username"/>
            <input type="password" id="signup-password-desktop" class="form-control" placeholder="Password" />
            <input type="password" id="signup-confirm-desktop" class="form-control" placeholder="Confirm Password"/>
        </form>
        <button class="btn btn-lg btn-primary btn-block signup-desktop">Sign up</button>
    </div>
    
    <div class="container hidden-lg hidden-md form-container">
        <img src="images/logo-white.png"></img>
        <h1>Sign up for the Fire Drill</h1>
        <form class="form-signin form-mobile" id="signup-form">
            <input type="email" id="signup-email-mobile" class="form-control" placeholder="Email" />
            <input type="text" id="signup-username-mobile" class="form-control" placeholder="Username"/>
            <input type="password" id="signup-password-mobile" class="form-control" placeholder="Password" />
            <input type="password" id="signup-confirm-mobile" class="form-control" placeholder="Confirm Password"/>
        </form>
        <button class="btn btn-lg btn-primary btn-block signup-mobile">Sign up</button>
    </div>
</div>